@page
@{
    ViewData["title"] = "Om sidan";
}

<section class="about-section">
    <h1 class="about-title">Om sida</h1>
    <p>Mitt namn är Jenny Dinh, 28 år gammal, från Göteborg. På fritiden tycker jag bland annat om att upptäcka nya matrecept från världens alla hörn, spela spel, titta på filmer/serier, mysa med min katt och lyssna på true crime podcasts.</p>
    <p>Jag har tidigare studerat på Göteborgs universitet med inriktning Globala Studier, rest runt samt jobbat på restaurang. Jag ville ha en förändring och valde därför att ansöka till Webbutvecklingsprogrammet, på Mittuniversitetet. Jag är så glad att jag gjorde det för att jag har lärt mig otroligt mycket, allt från att skriva HTML-element till att designa och skapa webbplatser som kommunicerar med databaser m.m.</p>
    <p>
        I denna kurs ser jag fram emot att lära mig mer om programmeringsspråket C#. Jag tyckte att kursen DT071G, introduktion till C#, var jätterolig så det ska bli spännande att lära mig ännu mer. Hittills har jag haft kul med att skapa denna enklare webbplats med Razor.
    </p>

    <div>
        <p>Här är en bild på min 15-åriga katt, Lilly.</p>
        <img src="./lilly.jpeg" alt="A gray cat sitting next to christmas decorations">
    </div>
</section>