@page
@{
    ViewData["title"] = "Om sidan";
}


<section class="about-section">
    <!-- Om Sidan - information om dig som skapat webbplatsen -->
    <h1 class="about-title">Om sida</h1>
    <p>Mitt namn är Jenny Dinh, 28 år gammal, från Göteborg. Jag har tidigare studerat på Göteborgs universitet med inriktning Globala Studier, rest runt samt jobbat på restaurang. Jag ville ha en förändring och valde därför att ansöka till Webbutvecklingsprogrammet, på Mittuniversitetet. Jag är så glad att jag gjorde det för att jag har lärt mig otroligt mycket, allt från att skriva HTML-element till designa och att skapa webbplatser som kommunicerar med databaser m.m.</p>
    <p>
        I denna kurs ser jag fram emot att lära mig mer om programmeringsspråket C#. Jag tyckte att kursen DT071G, introduktion till C#, var jätterolig så det ska bli spännande att lära mig ännu mer. Hittills har jag haft kul med att skapa denna enklare webbplats med Razor.
    </p>

    <div>
        <img src="https://images.unsplash.com/photo-1661956602868-6ae368943878?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt=""/>
    </div>
</section>